body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#f4f4f4 20%, transparent 21% ,transparent 79%, #f4f4f4 80%);
    background-size: 3em 3em;
    justify-content: center;
    height: 100vh;
    background-attachment: fixed;
}

.aufgaben {
    min-height: 100px;
    background: rgba(240, 240, 240, 0.8);
    justify-content: center;
    width: 30vw;
    border-radius: 10px;
    margin: 40px auto;
    padding: 10px;
    box-shadow: 0 5px 20px 10px rgba(90, 90, 90, 0.3);
}
.aufgaben > *{
    margin: 2px auto;

}


#inputDate {
    display: none; /* Initially hide the input field */
    width: 80%;
}

